@model UserViewModel

@{
    ViewData["Title"] = "Add a new User";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create User</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Add">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--<div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>-->
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">View All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
